*{
   margin: 0;
   padding: 0;
   box-sizing:border-box ;
}
html{
   scroll-behavior: smooth;
}

/* utility classes */

.h-primary{
   padding: 15px;
   font-size: 2.8rem;
   font-family: 'Pangolin', cursive;
}
.h-secondary{
   padding: 15px;
   font-size: 2rem;
   font-family: 'Shadows Into Light', cursive;
}
p{
   font-family: 'Kalam', cursive;
}
.center{
   text-align: center;
}
/* navbar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}
 /* navbar: loga and image */

 #logo{
    margin: 19px 22px;
    
 }
 #logo img{
    margin: 8px 14px;
    height: 26px; 
 }

 /* navbar: list syle */
 #navbar ul{
    display: flex;
 }
 #navbar ul li{
    font-size: 1rem;
    list-style: none;
 }
 #navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 20px 15px;
    color: white;
    border-radius: 10px;
 }
 #navbar ul li a:hover{
    color: black;
    background-color: white;
 }

 /* home section */

#home{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3px ;
   height: 400px;
}
#home::before{
   content: "";
   background: url(image/tomatoes-tomatoes-lemon-leaves-garlic-bottle-oil-tree-branches_140725-74118.avif);
   position: absolute;
   background-size: cover;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 66%;
   z-index: -1;
   opacity: 0.75;
}
#home h1{
   text-align: center;
}
#home p{
   font-size: 1.2rem;
   text-align: center;
   
   
}
.btn{
   padding: 3px 20px;
   border: 2px solid black;
   border-radius: 10px;
   margin-top: 15px;
   cursor: pointer;
}
.btn:hover{
   background-color: red;
   color: white;
   transition: 1s;
}

/* services section */

#services{
   display: flex;
}
#services .box{
   border: 2px solid red;
   padding: 34px;
   margin: 20px;
   border-radius: 23px;
   background: #efefef;
}
#services .box img{
   height: 125px;
   display: block;
   margin: auto;
   /* margin-top: 20px; */
}
#services .box p{
   font-size: 1rem;
}

/* clients section */

/* #client-section{
   height: 344px;
} */
#client-section h1{
   color: white;
}
#client-section::before{
   content: "";
   background: url("image/mor.jpeg");
   position: absolute;
   background-size: cover;
   /* top: 0px;
   left: 0px; */
   width: 100%;
   height: 38.75%;
   /* height: 21.35%; */
   z-index: -1;
   opacity: 1;
}
#clients{
   display: flex;
   justify-content: center;
   align-items:center;
}
.client-item{
   padding: 34px;
}
#clients img{
   height: 130px;
}

/* contact Section */

#contact{
   position: relative;
   /* margin-top: 0px; */
}
#contact::before{
   content: "";
   background: url("image/contact.jpg");
   position: absolute;
   background-size: cover;
   /* top: 0px;
   left: 0px; */
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.8;
}
.form-group{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 15px;
}
.form-group label{
   color: white;
   font-family: 'Pangolin', cursive;
   font-size: 1.3rem;
}
.form-group input{
   border: 2px solid black;
   border-radius: 5px;
   font-size: 1rem;
}
.form-group textarea{
   border: 2px solid black;
   border-radius: 5px;
}

/* footer */

footer{
   background-color: black;
   color: white;
   padding: 10px;
   font-family: 'Kalam', cursive;
}